// Grid

$grid-columns: 12;
$grid-gutter-width: 1.5rem;

// Colors

$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: hsl(220, 10%, 8%);

$grays: ();
$grays: map-merge(
  (
    '100': $gray-100,
    '200': $gray-200,
    '300': $gray-300,
    '400': $gray-400,
    '500': $gray-500,
    '600': $gray-600,
    '700': $gray-700,
    '800': $gray-800,
    '900': $gray-900,
  ),
  $grays
);

$blue: #2356ab;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;

$colors: ();
$colors: map-merge(
  (
    'blue': $blue,
    'indigo': $indigo,
    'purple': $purple,
    'pink': $pink,
    'red': $red,
    'orange': $orange,
    'yellow': $yellow,
    'green': $green,
    'teal': $teal,
    'cyan': $cyan,
    'white': $white,
    'gray': $gray-600,
    'gray-dark': $gray-800,
  ),
  $colors
);

$primary: $blue;
$secondary: $gray-600;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: $gray-800;

$theme-colors: ();
$theme-colors: map-merge(
  (
    'primary': $primary,
    'secondary': $secondary,
    'success': $success,
    'info': $info,
    'warning': $warning,
    'danger': $danger,
    'light': $light,
    'dark': $dark,
  ),
  $theme-colors
);

$theme-color-interval: 8%;
$yiq-contrasted-threshold: 160;
$yiq-text-dark: $gray-900;
$yiq-text-light: $white;

// Typography

$font-family-base: -apple-system, BlinkMacSystemFont, '游ゴシック体', YuGothic,
  'Yu Gothic Medium', sans-serif;
$font-weight-normal: 400;
$font-weight-bold: 700;
$line-height-base: 1.75;
$line-height-sm: 1.5;
$line-height-xs: 1.25;
$line-height-none: 1.1;
$h1-font-size: 2.5rem;
$h2-font-size: 2rem;
$h3-font-size: 1.75rem;
$h4-font-size: 1.5rem;
$h5-font-size: 1.25rem;
$h6-font-size: 1rem;

// Heading

$headings-font-family: $font-family-base;
$headings-font-weight: $font-weight-bold;
$headings-line-height: $line-height-xs;
$headings-margin-bottom: 1.5rem;
$headings-color: $gray-700;

// Spacer

$spacer: 1rem;
$spacers: ();
$spacers: map-merge(
  (
    0: 0,
    1: (
      $spacer * 0.25,
    ),
    2: (
      $spacer * 0.5,
    ),
    3: $spacer,
    4: (
      $spacer * 1.5,
    ),
    5: (
      $spacer * 3,
    ),
  ),
  $spacers
);

// Form & Buttons

$input-height: 2.5rem;
$btn-line-height: $line-height-xs;
$input-line-height: $line-height-xs;
$btn-transition: all 0.2s ease-in-out;
$btn-disabled-opacity: 0.5;
$custom-select-padding-y: 0.5rem;

// Misc

$enable-rounded: false;
$enable-shadows: true;
$link-color: $blue;
$link-hover-color: darken($link-color, 20%);
$link-hover-decoration: none;
$transition-base: $btn-transition;
$transition-slow: all 0.3s ease-in-out;
$box-shadow-base: 0 0 2px 0 rgba($black, 0.2);
