@use 'variables' as *;
@import 'bootstrap/scss/bootstrap.scss';

html,
body,
#__nuxt,
#__layout,
#app {
  height: 100%;
}

html,
body {
  font-feature-settings: 'palt';
}

#app {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

section {
  margin-bottom: 3rem;
}

.btn {
  padding: 0.5rem 1rem;
  &-lg {
    font-size: 1rem;
    padding: 0.75rem 1.5rem;
  }
}
