<template>
  <footer>
    <small class="copyright">
      &copy;
      <time :datetime="yearToday">{{ yearToday }}</time>
      {{ sitename }}
    </small>
  </footer>
</template>

<script>
export default {
  data() {
    return {
      sitename: process.env.sitename,
      yearToday: new Date().getFullYear(),
    }
  },
}
</script>

<style lang="scss" scoped>
@use 'assets/scss/variables' as *;

footer {
  background: $gray-100;
  padding: 1rem;
  text-align: center;
}

.copyright {
  display: block;
}
</style>
