<template>
  <header>
    <ul class="nav py-2">
      <li class="nav-item">
        <nuxt-link to="/" class="nav-link">Home</nuxt-link>
      </li>
      <li class="nav-item">
        <nuxt-link to="/example" class="nav-link">Example</nuxt-link>
      </li>
    </ul>
  </header>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
@use 'assets/scss/variables' as *;

header {
  background: $gray-100;
  margin-bottom: 3rem;
}
</style>
