<template>
  <section>
    <div class="text-center mb-4">
      <button
        type="button"
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        Launch demo modal
      </button>
    </div>

    <div
      id="exampleModal"
      class="modal fade"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 id="exampleModalLabel" class="modal-title">Modal title</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut
              tristique nisl ut mauris venenatis, non posuere lorem fermentum.
            </p>
            <p>
              Curabitur pharetra imperdiet arcu quis bibendum. Quisque et libero
              sit amet quam elementum interdum quis sed leo. Pellentesque vitae
              condimentum felis. Duis eget placerat elit. Aliquam sit amet
              ligula vel dui viverra laoreet ac vel nibh. Suspendisse eu metus
              urna. Duis dapibus lobortis nibh ac vestibulum.
            </p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  head() {
    return {
      titleTemplate: '',
      title: process.env.sitename,
    }
  },
}
</script>

<style lang="scss" scoped></style>
